<form>
  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
    <div>
        <mat-form-field appearance="outline">
          <mat-label>Name:</mat-label>
          <input matInput placeholder="Name" id="itemName">
        </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Anzahl:</mat-label>
        <input matInput placeholder="Anzahl" id="itemAmount">
      </mat-form-field>
    </div>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
    <div>
      <button mat-flat-button color="primary">Hinzufuegen</button>
    </div>
    <div>
      <button mat-flat-button color="warn">Loeschen</button>
    </div>
    <div>
      <button mat-flat-button color="accent">Zuruecksetzen</button>
    </div>
  </div>
</form>
