<mat-grid-list cols="3" rowHeight="150px" gutterSize="5px">
  <mat-grid-tile>
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Layout</mat-card-title>
        <mat-card-subtitle>Essential building blocks for presenting your content.</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Navigation</mat-card-title>
        <mat-card-subtitle>Menus  and other components that organize your content.</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Guides</mat-card-title>
        <mat-card-subtitle>Themes and tools that control the style of your app.</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
