<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
  <div fxFlex>
    <h2 class="mat-h2">{{selectedRecipe?.name}}</h2>
  </div>
  <div fxFlex>
    <img src="{{selectedRecipe?.imagePath}}" width="100px" height="100px" alt="Rezept" />
  </div>
  <div fxFlex>
    {{selectedRecipe?.description}}
  </div>
  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
    <div>
      <button mat-flat-button color="primary">Zur Einkaufsliste</button>
    </div>
    <div>
      <button mat-flat-button color="accent">Bearbeiten</button>
    </div>
    <div>
      <button mat-flat-button color="warn">Loeschen</button>
    </div>
  </div>
  <div fxFlex>
    Zutaten
  </div>
</div>
